html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    margin: 0;
}

nav {
    background-color: red;
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
}

ul a:hover {
    background: blue;
}

li {
    list-style-type: none;
}

#welcome-section {
    background-color: antiquewhite;
}