*{
    margin: 0;
    box-sizing: border-box;
}

/** button {
    display: flex;
    justify-content: center;
    padding: .5rem;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
}

.loadbutton {
    justify-content: center;
} **/

.pokeheader {
    display: flex;
    justify-content: center;
    margin: 0;
}


.pokemonGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.scene {
    width: 223px;
    height: 310px;
    border: 1px solid #CCC;
    border-radius: 15px;
    margin: 10px;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card_face_front {
    background: #C4C4C4;
    background-image: url(../pokemon/images/cardfront.png);
    border: 1px solid;
    border-radius: 15px;
    padding: 2.5rem 0.5rem 0.5rem 0.5rem;
}

.card_face_back {
    transform: rotateY(180deg);
}

.card.is-flipped {
    transform: rotateY(180deg);
}

